extends layout

block content
  p.
    Metapoint is a Stuart P. Bentley production. Stuart can be found on
    <a href="https://github.com/stuartpb">GitHub</a> or
    <a href="https://www.facebook.com/stuartpb">Facebook</a>, or emailed at
    <a href="mailto:stuart@testtrack4.com">stuart@testtrack4.com</a>.