extends layout

block head
  style
    .name {
      color: #800;
    }
    .scope {
      color: #00c;
    }
    .pagelist {
      list-style: none;
    }
block content
  hgroup
    h1.name= topic.topic
    if topic.scope
      h2 (<span class="scope">#{topic.scope}</span>)
  h3 Pages
  ul.pagelist
  for path, host in topic.sites
    url = 'http://'+host.replace(/_/g,'.')+path
    li
      img(src='/favicons/16/'+host+'.png')
      =' '
      a(href=url)= url
